<div class="card__container">
  <div class="card__header">
    <div class="card__header__title">
      <h1>Ciclope</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium iure
        non tenetur totam aspernatur!
      </p>
    </div>
    <img
      src="https://images.unsplash.com/photo-1737244651807-fa9cedd6628a?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
    />
  </div>
  <button class="card__button">Ver mais</button>
</div>
