<div class="card__container">
  <div class="card__header">
    <div class="card__header__title">
      <h1>{{ character.name }}</h1>
      <p>
        {{ character.description }}
      </p>
    </div>
    <img
      src="{{
        character.thumbnail.path +
          '/standard_medium.' +
          character.thumbnail.extension
      }}"
      alt=""
    />
  </div>
  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title> Quadrinhos </mat-panel-title>
      </mat-expansion-panel-header>
      <ul class="card__comic">
        <li *ngFor="let comic of character.comics.items">
          <p>{{ comic.name }}</p>
        </li>
      </ul>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title> Filmes </mat-panel-title>
      </mat-expansion-panel-header>
      <ul class="card__comic">
        <li *ngFor="let series of character.series.items">
          <p>{{ series.name }}</p>
        </li>
      </ul>
    </mat-expansion-panel>
  </mat-accordion>
</div>
