<header>
  <form class="search" [formGroup]="searchForm">
    <input
      type="text"
      placeholder="Busque o heroi desejado"
      formControlName="search"
    />
    <button (click)="onSubmit()">
      <ng-icon name="featherSearch" color="var(--white)" />
    </button>
  </form>
  <div
    *ngIf="
      searchForm.get('search')?.invalid && searchForm.get('search')?.touched
    "
  >
    <small style="color: var(--white)"
      >O campo de pesquisa é obrigatório!</small
    >
  </div>
</header>
